extends layouts/base.pug

block head
    title Home Page

block navbar 
    if isLoggedIn
        li
            a(href="/admin/add-product") admAddProduct
        li
            a(href="/admin/editable-products") admEditableProducts
        li
            a(href="/user/logout") 
                form(action="/user/logout", method="post")
                    input.logout-btn(type="submit", value="Logout")
    else 
        li
            a(href="/user/login") Login          
        li
            a(href="/user/signup") Signup    

block body 
    main 
        h1 Home