extends ../layouts/base.pug

block head
    title Cart 

block body
    if cart.length
        table 
            tr 
                th Product 
                th Price
                th Action
            each cart_item in cart 
                tr 
                    td #{cart_item.product.title}
                    td $#{cart_item.product.price}
                    td 
                        form(method="post") 
                            input(type="hidden", name="cart_id", value=`${cart_item.id}`)
                            input(type="submit", value="Remove")
        h2 Cart Total: $#{total}
        form(action="/shop/new-order", method="post")
            input(type="submit", value="Checkout")
    else
        h1 Your cart is empty 
        a(href="/shop/all-products") Shop Something