extends ../layouts/base.pug

block head 
    title Login Page

block body 
    h1 Login
    if error
        span #{error}
        
    form(method="post")
        label(for="input-email") Email 
        input#input-email(type="email", name="email")

        label(for="input-password") Password 
        input#input-password(type="password", name="password")

        input(type="submit", value="Login")
    
    a(href="/user/email-reset-pwd") Forgot your password? Click here